body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background-color: pink;
  padding-bottom: 10%;
  margin-top: -20px;
}

header nav{
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}
header nav li {
  list-style: none;
  float: right;
}

header nav li a {
  padding: 10px;
}

header h2 {
  float: left;
}
